html, body { background: #fff; color: #333; }
body { padding: 20px 200px; }

h1 {  font: 800 20px/20px "open sans"; }
h3 { color: #aa3300 }

#result { padding: 30px 0 30px 20px; font: 14px Arial, sans-serif; list-style: none; }
#result li { padding: 10px; }
#result li strong {  }
#result li pre { font:12px Arial, sans-serif; color: #666; padding: 0 15px; line-height: 18px; }
